@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-canvas: #FAFAFA;
    --bg-surface: #FDFBF7;
    --text-primary: #0F172A;
    --accent: #01488E;
  }

  html {
    font-family: 'Inter', sans-serif;
    background-color: var(--bg-canvas);
    color: var(--text-primary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Lexend', sans-serif;
    color: var(--text-primary);
  }

  body {
    margin: 0;
    padding: 0;
  }
}
