---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import Categories from '../components/Categories.astro';
import Manifesto from '../components/Manifesto.astro';
import Banner from '../components/Banner.astro';
import LatestPosts from '../components/LatestPosts.astro';
---

<BaseLayout title="UnEspacio | Editorial de Alta Gama & Herramientas">
  <Header />
  <main>
    <Hero />
    <Services />
    <Manifesto />
    <Categories />
    <Banner />
    <LatestPosts />
  </main>
</BaseLayout>
